/*login*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.loginPage {
    width: 600px;
    padding: 3% 0 0;
    margin: auto;
}
.logo {
    display: flex;
    margin: 0;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #db598b;
    padding-top: 10px;
    padding-left: 10px;
}
.loginForm {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.loginForm input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.loginForm button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}
.loginForm button:hover,.loginForm button:active,.loginForm button:focus {
    background: #43A047;
}
.logo img {
     height: 50px;
     width: 50px;
     display: block;
     margin-bottom: 60px;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.product-entity {
    margin-bottom: 20px;
    margin-right: 6px;
    flex: none;
    box-sizing: border-box;
    /*box-shadow: 5px 5px 5px #ccc;*/
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    color: #171e42;
    width: 400px;
    height: 495px;
    font-family: "Roboto", sans-serif;
}

.product-entity p, h4, h5 {
    padding-left: 15px;
}
.product-entity img {
    width: 100%;
    height: auto;
}
.header {
    justify-content: space-between;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.footer p {
    margin-top: 5px;
}
.buttons button {
    font-family: "Roboto", sans-serif;
    padding: 7px;
    margin: 4px;
}
a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: #db598b;
}
.add-product button {
    margin: 20px;
    font-family: "Roboto", sans-serif;
    padding: 7px;
}
.create-product-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24)
}
.create-product-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.create-product-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.errorMsg {
    color: red;
    font-family: "Roboto", sans-serif;
}
.disabled-btn:disabled {
    border: 1px solid #999999;
    background-color:rgb(229, 229, 229);
    color: #666666;
}